<div class="row mt-3">
    <div class="col md-12">
        <div class="card">
            <div class="card-header">Nauja užduotis</div>
            <div class="card-body">
                <div class="mb-3">
                    <label for="" class="form-label">Uždoties pavadinimas</label>
                    <input type="text" class="form-control" [(ngModel)]="pavadinimas">
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Užduoties tipas</label>
                    <select class="form-select" [(ngModel)]="tipas">
                        <option value="Neskubus">Neskubus</option>
                        <option value="Rutininis">Rutininis</option>
                        <option value="Skubus">Skubus</option>
                        <option value="Ypač skubus">Ypač skubus</option>
                      </select>
                </div>
                <button class="btn btn-success" (click)="addUzduotis()">Pridėti</button>  
            </div>
        </div>
    </div>
    <hr class="mt-3">
    <div class="col md-12">
        <div class="card" *ngIf="uzdsarasas.length!=0">
            <div class="card-header">Užduočių sąrašas</div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let uzduotis of uzdsarasas; let i=index">                                  
                        {{ i+1 }}. {{ uzduotis.pavadinimas }} {{ uzduotis.tipas }} 
                        <button class="btn btn-danger float-end" (click)="trinti(i)">Trinti</button>

                    </li>     
                </ul>
            </div>
        </div>
    </div>
</div>