<div class="row mt-3">
    <div class="col-6">
        <div class="card">
            <div class="card-header text-center">Rezervuaro skaičiuoklė</div>
            <div class="card-body">
                <div class="mb-3">
                    <label class="form-label">Rezervuaro talpa (l)</label>
                    <input type="number" class="form-control" [(ngModel)]="talpa">
                </div>
                <div class="mb-3">
                    <label class="form-label">Rezervuaro pildymo greitis (l/val.)</label>
                    <input type="number" class="form-control" [(ngModel)]="greitis">
                </div>
                <div class="mb-3">
                    <label class="form-label">Rezervuaro pildymo laikas (val.)</label>
                    <input type="number" class="form-control" [(ngModel)]="laikas">
                </div>
                <button class="btn btn-success" (click)="skaiciuoti()">Skaičiuoti</button>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card" *ngIf="rezultatas!=0; else instrukcijos">                                                                   <!-- *ngIf - nerodo konteinerio, jeigu sąlyga neteisinga, else - rodo konteinerį su #instrukcijos-->
            <div class="card-header text-center">
                Skaičiavimų rezultatai
            </div>
            <div class="card-body">                                                                                                   <!-- *ngClass - taiko css priklausomai nnuo sąlygos-->
                <div class="alert" [ngClass]="{
                    'alert-danger':rezultatas>=100,
                    'alert-warning':rezultatas>=80 && rezultatas<100
                }">
                    Talpa bus užpildyta: {{ rezultatas.toFixed(2) }} %
                </div>

                <ul class="list-group">
                    <li class="list-group-item">2</li>
                    <li class="list-group-item">5</li>
                    <li class="list-group-item">9</li>
                </ul>
                <div *ngFor="let rezult of rezultatai">{{ rezult }}</div>

            </div>
        </div>
        <ng-template #instrukcijos>                                                                                                   <!-- # - local reference (lokali nuoroda)-->
            <div class="card">
                <div class="card-header text-center">Instrukcijos</div>
                <div class="card-body">
                    Įveskite rezervuaro tlpa litrais, kokiu greičiu pildoma talpa litrais per valandą ir kiek valandų bus pildoma talpa.
                    <br>
                    Tuomet paspauskite mygtuką skaičiuoti.
                </div>
            </div>
        </ng-template>
    </div>
</div>