
<div class="card mt-5">
    <div class="card-header">Sudetis skaičiuoklė</div>
    <div class="card-body">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Pirmasis skaičius</label>
            <input type="number" class="form-control" [(ngModel)]='skaicius1'> 
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Antras skaičius</label>
            <input type="number" class="form-control" [(ngModel)]='skaicius2'>
        </div>
        <button class="btn btn-success" (click)="skaiciuoti()">Skaičiuoti</button>
        <hr>
        <div class="alert alert-secondary">
            Atsakymas: {{ rezultatas }}
        </div>
       

    </div>
</div>