<div class="col-md-12">
    <div class="card">
        <div class="card-header">Prekių sandėlys</div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="card mt-3" *ngFor="let category of warehouseData">
                        <div class="card-header">
                            {{ category.name }}
                        </div>

                        <div class="card-body">
                            <app-products></app-products>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>