
<div class="row mt-3">
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                KMI skaičiuoklė
            </div>
            <div class="card-body">
                <div class="input-group mb-3">
                    <input type="number" class="form-control" placeholder="Įveskite savo ūgį" [(ngModel)]='ugis'>   <!-- Nuskaito įvestus duomenis ir perduoda į component.ts, būtina įrašyti FormsModule į app.module.ts!-->
                    <span class="input-group-text">cm</span>                         
                </div>
                <div class="input-group mb-3">
                    <input type="number" class="form-control" placeholder="Įveskite savo svorį" [(ngModel)]='mase'> <!-- Nuskaito įvestus duomenis ir perduoda į component.ts, būtina įrašyti FormsModule į app.module.ts!-->
                    <span class="input-group-text">kg</span>
                </div>
                <button class="btn btn-success" (click)="calc()">SKAIČIUOTI</button>                    <!-- Grąžina 'calc' iš component.ts rezultatą-->
                <hr>
                <div class="alert alert-light text-end" *ngIf="kmi!=0">
                    JŪSŲ KMI: {{ kmi.toFixed(1) }}                                                                  <!-- toFixed(1) palieka (1) skaičių po kablelio -->
                </div>
            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="card">
            <div class="card-header">
                KMI aprašymas
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">KMI reikšmė</th>
                        <th scope="col"></th>
                        <th scope="col">Ligų rizika</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="" [ngClass]="{
                        'alert alert-dark':kmi>=18 && kmi<25}">
                        <td scope="row" >18 - 25</td>
                        <td>Normalus svoris</td>
                        <td>Nėra</td>
                        <td>green</td>
                      </tr>
                      <tr class="" [ngClass]="{
                        'alert alert-dark':kmi>=25 && kmi<30}">
                        <td scope="row">25 - 30</td>
                        <td>Antsvoris</td>
                        <td>Nedidelė, stengtis, kad nedidėtų</td>
                        <td>light green</td>
                      </tr>
                      <tr class="" [ngClass]="{
                        'alert alert-dark':kmi>=30 && kmi<35}">
                        <td scope="row">30 - 35</td>
                        <td >Io nutukimas</td>
                        <td>Padidėjusi, būtina mažinti svorį</td>
                        <td>yellow</td>
                      </tr>
                      <tr class="" [ngClass]="{
                        'alert alert-dark':kmi>=35 && kmi<40}">
                        <td scope="row">35 - 40</td>
                        <td >IIo nutukimas</td>
                        <td>Didelė, būtina mažinti svorį</td>
                        <td>orange</td>
                      </tr>
                      <tr class="" [ngClass]="{
                        'alert alert-dark':kmi>=40}">
                        <td scope="row">40 - 99</td>
                        <td >IIIo (liguistas) nutukimas</td>
                        <td>Labai didelė, būtina mažinti</td>
                        <td>red</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
    </div>
</div>